.wrapper {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 130px; */
  border-radius: var(--radius-12);
  padding: calc(var(--spacing) * 3);
  padding-inline-start: calc(var(--spacing) + 4px);
  padding-block-end: calc(var(--spacing) * 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: var(--font-s-h2);
}

p {
  font-size: var(--font-s-txt-2);
}

.totalChar {
  background-color: var(--card-bg-purple);
  background-image: url(src/assets/pattern-character-count.svg);
  /* background-attachment: fixed; */
}

.wordCount {
  background-color: var(--card-bg-yellow);
  background-image: url(src/assets/pattern-word-count.svg);
}

.sentenceCount {
  background-color: var(--card-bg-orange);
  background-image: url(src/assets/pattern-sentence-count.svg);
}
