button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--spacing);
  /* width: 0%; */
}

h3 {
  font-size: var(--text-preset-2);
  margin-block-end: calc(var(--spacing) * 3);
}
